<!DOCTYPE html>
<html>
  <head>
    <title>{{ html_page_title }}</title>
  </head>
  <body>
    <h1>{{ body_page_title }}</h1>
    <h2>Build: {{ current_time_uuid }}</h2>
    <h2>Rules of building on github pages :</h2>
    <li></li>
  </body>
</html>